SERVER_HOST=
SERVER_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=desa_maju

FILE_DEREKTORY=assets/file/primary/
IMAGE_DEREKTORY=assets/image/primary/
FILE_TYPE=.PNG|.png|.jpeg|.jpg|.pdf|.docx|.doc|.xls|.xlsx|.ppt|.pptx


KEY=