{{template "dasboard/partials/header_dasboard" .}}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dasboard">Dasboard</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Daftar Product</h3>
                        </div>
                        <div class="card-header">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">
                                <i class="fas fa-plus-circle"></i>Product baru</button>
                            {{ if eq $.role "admin" }}
                            <a href="/dasboard/product/recycle" class="btn btn-danger float-right"> <i
                                    class="fas fa-trash"></i>Data Sampah</a>
                            {{end}}
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>SKU</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Short Description</th>
                                        <th>Long Description</th>
                                        <th>SizeType</th>
                                        <th>Long</th>
                                        <th>Wide</th>
                                        <th>Diameter</th>
                                        <th>Kategori</th>
                                        <th>Status</th>
                                        <th>Tanggal di Buat</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .data}}
                                    <tr role="row" class="odd">
                                        <td>{{.Index}}</td>
                                        <td>{{.SKU}}</td>
                                        <td>{{.Name}}</td>
                                        <td>{{.Price}}</td>
                                        <td>{{.Stock}}</td>
                                        <td>{{.ShortDescription}}</td>
                                        <td>{{.LongDescription}}</td>
                                        <td>{{.SizeType}}</td>
                                        <td>{{.Long}}</td>
                                        <td>{{.Wide}}</td>
                                        <td>{{.Diameter}}</td>
                                        <td>{{.CategoryName}}</td>
                                        {{if eq .Status 1}}
                                        <td class="project-actions"><a class="btn btn-block btn-success btn-sm">Di
                                                Publish</a>
                                        </td>
                                        {{else}}
                                        <td class="project-actions"><a class="btn btn-block btn-danger btn-sm">Di
                                                Sembunyikan</a>
                                        </td>
                                        {{end}}
                                        <td>{{.CreatedAt.Format "02-01-2006 15:04:05" }}</td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="/dasboard/product/detail/{{.ID}}"><i
                                                    class="fas fa-folder"></i>
                                                View</a>
                                            <a class="btn btn-info btn-sm" href="/dasboard/product/Update/{{.ID}}"><i
                                                    class="fas fa-pencil-alt"></i> Edit</a>
                                            <a class="btn btn-danger btn-sm" href="/dasboard/product/delete/{{.ID}}"><i
                                                    class="fas fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                    {{ end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Form Product Baru</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/dasboard/product/new" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="sku">SKU*</label>
                                    <input type="text" name="sku" class="form-control" id="sku" placeholder="SKU"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name*</label>
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nama"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="price">Harga*</label>
                                    <input type="number" name="price" class="form-control" id="price"
                                        placeholder="Harga" required>
                                </div>
                                <div class="form-group">
                                    <label for="stock">Stock</label>
                                    <input type="text" name="stock" class="form-control" id="stock" placeholder="Stock"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="short_description">Short Description</label>
                                    <input type="text" name="short_description" class="form-control"
                                        id="short_description" placeholder="Short Description">
                                </div>
                                <div class="form-group">
                                    <label for="long_description">Long Description</label>
                                    <input type="text" name="long_description" class="form-control"
                                        id="long_description" placeholder="Long Description">
                                </div>
                                <div class="form-group">
                                    <label for="size_type">Size Type</label>
                                    <input type="number" name="size_type" class="form-control" id="size_type"
                                        placeholder="Size Type">
                                </div>
                                <div class="form-group">
                                    <label for="long">Long (cm)</label>
                                    <input type="number" name="long" class="form-control" id="long" placeholder="Long">
                                </div>
                                <div class="form-group">
                                    <label for="wide">Wide (cm)</label>
                                    <input type="number" name="wide" class="form-control" id="wide" placeholder="Wide">
                                </div>
                                <div class="form-group">
                                    <label for="tall">Tall (cm)</label>
                                    <input type="number" name="tall" class="form-control" id="tall" placeholder="Tall">
                                </div>
                                <div class="form-group">
                                    <label for="diameter">Diameter (cm)</label>
                                    <input type="number" name="diameter" class="form-control" id="diameter"
                                        placeholder="Diameter">
                                </div>
                                <div class="form-group">
                                    <label for="id_kategory">Kategori*</label>
                                    <select class="form-control select2" style="width: 100%;" id="id_kategory"
                                        name="id_kategory" required>
                                        <option selected="selected">----</option>
                                        {{ range .category}}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status*</label>
                                    <select class="form-control select2" style="width: 100%;" id="status" name="status">
                                        <option selected="selected" value="1">Di Publish</option>
                                        <option value="0"> Di Sembunyikan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{template "dasboard/partials/footer_dasboard" .}}