
    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer__about">
                      <div class="footer__logo">
                          <a href="#"><img src="/themes/img/Instagram-post-19.png" alt=""></a>
                      </div>
                      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="footer__widget">
                      <h6>Belanja</h6>
                      <ul>
                          <li><a href="#">WhatsApp Shopping</a></li>
                          <li><a href="https://www.tokopedia.com/kovan">Tokopedia</a></li>
                          <li><a href="https://shopee.co.id/kovan.id">Shopee</a></li>
                          <li><a href="https://www.blibli.com/merchant/kovan-furniture-official/KOF-70013">Belibli</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="footer__widget">
                      <h6>Bantuan</h6>
                      <ul>
                          <li><a href="#">Pengiriman</a></li>
                          <li><a href="#">Pembayaran</a></li>
                          <li><a href="#">Privacy policy</a></li>
                          <li><a href="#">Syarat dan Ketentuan</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6">
                  <div class="footer__widget">
                      <h6>Layanan Pelanggan</h6>
                      <ul>
                          <!-- <li><a href="#">Pukul 08.00 - 22.00</a></li> -->
                          <li><a href="#"> <i class="fa fa-whatsapp" aria-hidden="true"></i>: +62 896-7512-0109</a></li>
                          <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>:  +62 896-7512-0109</a></li>
                          <!-- <li><a href="#">cs@kovanFurniture.com</a></li> -->
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer__widget">
                      <h6>DAFTAR UNTUK MENDAPATKAN INFO & PROMOSI MENARIK</h6>
                      <div class="footer__newslatter">
                          <p>Promosi, produk baru, dan penjualan. Langsung ke Email Anda.</p>
                          <form action="#">
                              <input type="text" placeholder="Your email">
                              <button type="submit"><span class="icon_mail_alt"></span></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- <hr> -->
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="copyright-reserved">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-12">
                                  
                                  <div class="copyright-text">
                                  
                                      Copyright &copy;
                                      <script>document.write(new Date().getFullYear());</script> All rights reserved
                                      by <a href="">KOVAN</a>
                                    
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search Begin -->
  <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="search-close-switch">+</div>
          <form class="search-model-form">
              <input type="text" id="search-input" placeholder="Search here.....">
          </form>
      </div>
  </div>
  <!-- Search End -->
<!-- Js Plugins -->

 
<script src="/themes/js/jquery-3.3.1.min.js"></script>
<script src="/themes/js/bootstrap.min.js"></script>
<script src="/themes/js/jquery.nice-select.min.js"></script>
<script src="/themes/js/jquery.nicescroll.min.js"></script>
<script src="/themes/js/jquery.magnific-popup.min.js"></script>
<script src="/themes/js/jquery.countdown.min.js"></script>
<script src="/themes/js/jquery.slicknav.js"></script>
<script src="/themes/js/mixitup.min.js"></script>
<script src="/themes/js/owl.carousel.min.js"></script>
<script src="/themes/kas/js/jquery-ui.min.js"></script>
<script src="/themes/kas/js/jquery.zoom.min.js"></script>
<script src="/themes/kas/js/jquery.dd.min.js"></script>
<script src="/themes/kas/js/main.js"></script>
<script src="/themes/js/jquery.magnific-popup.min.js"></script>
<script src="/themes/js/main.js"></script>
</body>
</html>