<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KOVAN | SHOP</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/themes/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/themes/kas/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/themes/kas/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/themes/kas/css/style.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/themes/css/style.css" type="text/css">
</head>

<body>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option">
            <div class="shop__sidebar__search">
                <form method="GET" action="shop">
                    <input type="text" name="search" placeholder="Search..." value="{{if eq .page "shop" }} {{.data.Search}} {{else}}  {{ end}}">
                    <button type="submit"><span class="icon_search"></span></button>
                </form>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="/themes/img/Instagram-post-19.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            
                            <li {{if eq .page "home"}} class="active" {{else}} {{end}} ><a href="/">Home</a></li>
                            <li {{if eq .page "shop"}} class="active" {{else}} {{end}}><a href="/shop">Shop</a></li>
                           
                            <!-- <li {{if eq .page "blog"}} class="active" {{else}} {{end}}><a href="/blog">Blog</a></li> -->
                            <li {{if eq .page "contact"}} class="active" {{else}} {{end}}><a href="/contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <div class="shop__sidebar__search">
                            <form method="GET" action="shop">
                                <input type="text" name="search" placeholder="Search..." value="{{.data.Search}}">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->