

<ul class="pagination">
    <li class="prev">
        <a href="{{ .pagination.PrevPage }}" data-ci-pagination-page=""rel="prev">←</a>
    </li>
    {{ range .pagination.Links }}
    
        <li class=""><a href="{{ .Url }}" data-ci-pagination-page="" rel="start">{{ .Page }}</a></li>
    {{ end }}

    <li class="next">
        <a href="{{ .pagination.NextPage }}" data-ci-pagination-page="" rel="next">→</a>
    </li>
</ul>


<!-- <div class="row">
    <div class="col-lg-12">
        <div class="product__pagination">
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <span>...</span>
            <a href="#">21</a>
        </div>
    </div>
</div> -->