{{template "web/partials/header_dasboard" .}}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        {{range .banner}}

        <div class="hero__items set-cov set-bg"
            data-setbg="/image/{{.ImageURL}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h2>{{.Name}}</h2>
                            <p>{{.Description}}</p>
                            <a href="{{.URL}}" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</section>
<!-- Hero Section End -->


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Best Sellers</li>
                    <!-- <li data-filter=".new-arrivals">New Arrivals</li>
                    <li data-filter=".hot-sales">Hot Sales</li> -->
                </ul>
            </div>
        </div>
        <div class="row product__filter">

            {{range .data.Product}}
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 mix hot-sales">
                <a href="/shop-detail/{{.ID}}">
                    <div class="product__item sale">
                        <div class="product__item__pic bag-cont">
                            <img src="{{.ImagePrimary}}" alt="">
                        </div>

                        <div class="product__item__text">

                            <h6>{{.Name}}</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>{{.Price}}</h5>
                            <div class="product__color__select">
                               
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {{end}}

        </div>
    </div>
</section>
<!-- Product Section End -->


{{template "web/partials/footer_dasboard" .}}