{{template "partials/header_dasboard" .}}

<!-- header end -->


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sampah</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dasboard/admin">Dasboard</a></li>
                        <li class="breadcrumb-item"><a href="/dasboard/admin/image-show">Image Show</a></li>
                        <li class="breadcrumb-item active">Sampah</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Daftar Image Sampah</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No. </th>
                                        <th>Image</th>
                                        <th>Judul</th>
                                        <th>Isi</th>
                                        <th>Link</th>
                                        <th>Tanggal di Buat</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{ range .data.imageShow}}
                                    <tr role="row" class="odd">
                                        <td>{{.Index }}</td>
                                        <td><img src="/image/{{.SlideShowImages}}" alt="" width="100px"></td>
                                        <td>{{.Judul}}</td>
                                        <td>{{.Keterangan}}</td>
                                        <td>{{.Link}}</td>
                                        <td>{{.CreatedAt.Format "02-01-2006 15:04:05" }}</td>
                                        
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="/dasboard/admin/image-show/recycle/restore/{{.ID}}"><i
                                                    class="fas fa-file-export"></i> Pulihkan</a>
                                            <a class="btn btn-danger btn-sm" href="/dasboard/admin/image-show/recycle/delete/{{.ID}}"><i
                                                    class="fas fa-trash"></i> Hapus</a>

                                        </td>
                                    </tr>
                                    {{ end}}

                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>

      


        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




<!-- footer -->
{{template "partials/footer_dasboard" .}}