{{template "partials/header_dasboard" .}}

<!-- header end -->

<div class="content-wrapper" style="min-height: 1446px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dasboard/admin">Dasboard</a></li>
                        <li class="breadcrumb-item"><a href="/dasboard/admin/image-show/">Image Show</a></li>
                        <li class="breadcrumb-item active">Update</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Pengumuman</h3>
                </div>
                <div class="card-body">

                    <form action="/dasboard/admin/image-show/update" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="judul">Judul </label>
                                <input type="text" name="judul" value="{{.data.imageShow.Judul}}" class="form-control" id="judul"
                                    placeholder="Ketarangan ">
                            </div>
                            <div class="form-group">
                                <label for="isi">Isi</label>
                              <Textarea name="keterangan"  id="isi" class="form-control">
                                    {{.data.imageShow.Keterangan}}
                              </Textarea>
                            </div>
                          
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control select2" style="width: 100%;" name="utama">
                                    {{if eq .data.imageShow.Utama 1}}
                                    <option selected="selected" value="1">Public</option>
                                    <option value="0">Privet</option>
                                    {{else}}
                                    <option selected="selected" value="0">Privet</option>
                                    <option value="1">Public</option>
                                    {{end}}
                                </select>
                            </div>
                          
                            <div class="form-group">
                                <label for="image">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="image" class="custom-file-input" id="image"  placeholder="{{.data.imageShow.SlideShowImages}}">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <input type="hidden" name="id" value="{{.data.imageShow.ID}}">


                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    
                </div>
                <div class="card-footer">
                
                </div>
            </div>
        </div>
    </section>
</div>




<!-- footer -->
{{template "partials/footer_dasboard" .}}